.ideaCard {
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
}

body{
    font-family:'helvetica';    
}

/*-- Bootstrap Override Style --*/


/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:50px;
    padding-bottom:15px;
}

.ideaPanelTitle{
    margin: 10px 0 0 0px;
}

.ideaPanelTicker{
     /* float: left; */
    /* font-size: 15px; */
}

.ideaPanelSubheading{
    /* margin-top: -10;
    padding:0; */
    font-size: 14px;
    float: left;
}

.bullishImg{
    width: 14px;
    margin: 0 0 8px 2px;
}

.panelPadding{
    margin: 15px;
}

.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    cursor: pointer;
    background-size: cover;
    object-fit: contain;
    border-radius: 50%;
    max-width:115px;
    max-height:47px;
    width: auto;
    height: auto;   
    border:1px solid #DDD; 
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}