.ideaCard {
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
}

body{
    font-family:'helvetica';    
}

.ideaPanelUsername{
    display: inline-block;
    margin: 0 0 27px 5px;
    font-weight: bold;
}

.ideaPanelTitle{
    margin: 10px 0 0 0px;
}

.ideaPanelSubheading{
    font-size: 14px;
    float: left;
}

.longOrShortImg{
    width: 14px;
    margin: 0 0 8px 2px;
}

.ideaPanelMargin{
    margin: 15px;
}

.ideaPanelProfilePic{
    float: left;
}

.profilePic{
    cursor: pointer;
    background-size: cover;
    object-fit: contain;
    border-radius: 50%;
    max-width:115px;
    max-height:47px;
    width: auto;
    height: auto;   
    border:1px solid #DDD; 
}

/* .anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
} */